<% include ./scripts.js %>
<html>
    <head>
        <title><%= title %></title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/views/js/profile.js"></script>
    </head>
    <body>

        <!-- Header -->
        <% include ./header.ejs %>

        <!-- Hidden box to store the User's ID -->
        <input type="hidden" value="<%= user.google.id %>" id="user_id">
        <input type="hidden" value="<%= app.url %>" id="socket_url">

        <audio id="chatAudio"><!-- Audio for the notification -->
            <source src="./views/sounds/noti.ogg" type="audio/ogg">
            <source src="./views/sounds/noti.mp3" type="audio/mpeg">
            <source src="./views/sounds/noti.wav" type="audio/wav">
        </audio>

        <div class="container mrg_top">
            <div class="row">
                <div class="col-md-4 hide_on_mobile">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Users Online
                        </div>
                        <ul class="list-group" id="user_table"></ul>
                    </div>
                    <% include ./footer.ejs %>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default panel-fullscreen">
                        <div class="panel-heading">
                            Messages <a href="/logout" class="pull-right">Logout</a>
                        </div>

                        <!-- Message display window -->
                        <div id="message_box"></div>

                        <div class="panel-footer message_inp_container">
                            <form>
                                <div class="form-group">
                                    <textarea id="message_text" class="message_inp_box form-control" placeholder="Hey, <%= user.google.firstname %> type a message..."></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
