.navbar-login
{
    width: 260px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;

}
.navbar-footer
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}

.icon-size {
    margin: 10px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.no-padding {
    padding: 0px !important;
    height: auto;
}

.mrg_top {
    margin-top: 100px !important;
}

.send_btn, .message_inp_box {
    height: 58px;
    outline: none !important;
}

.message_inp_box {
    width: 80%;
    padding: 8px;
    resize: none;
    border-radius: 3px;
    font-size: 1em;
}
